In [1]:
import pandas as pd

In [3]:
categories = pd.read_csv('disaster_categories.csv')
messages = pd.read_csv('disaster_messages.csv')

In [4]:
categories

          id                                         categories
0          2  related-1;request-0;offer-0;aid_related-0;medi...
1          7  related-1;request-0;offer-0;aid_related-1;medi...
2          8  related-1;request-0;offer-0;aid_related-0;medi...
3          9  related-1;request-1;offer-0;aid_related-1;medi...
4         12  related-1;request-0;offer-0;aid_related-0;medi...
...      ...                                                ...
26243  30261  related-0;request-0;offer-0;aid_related-0;medi...
26244  30262  related-0;request-0;offer-0;aid_related-0;medi...
26245  30263  related-1;request-0;offer-0;aid_related-0;medi...
26246  30264  related-1;request-0;offer-0;aid_related-1;medi...
26247  30265  related-1;request-0;offer-0;aid_related-0;medi...

[26248 rows x 2 columns]